
<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" href="#">44º BPM</a>
  <button (click)="isCollapsed = !isCollapsed" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav" [collapse]="isCollapsed" [isAnimated]="true">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Inicio <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/policial">Policiais</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/viatura">Viaturas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/abastecimento#" >Abastecimentos</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
          Link
        </a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
      </li>
    </ul>

    <ul class="navbar-nav">

      <li class="nav-item dropdown" dropdown container="body"  >
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div *dropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">
            Perfil
          </a>
          <div role="separator" class="divider"></div>
          <a class="dropdown-item" href="#">
            Sair
          </a>
        </div>
      </li>
    </ul>

  </div>
</nav>
