
<hr>
<!--
<form action="" class="form-inline" >
  <div class="row mb-2 col-12">
    <input type="text" class="form-control  mr-2 col-5" placeholder="Buscar">
    <button class="btn btn-outline-success col-2">Buscar</button>
  </div>
</form>
-->
<hr>
<table class="table table-striped" >
  <thead class="thead-dark" align="center">
    <tr>
      <th>#</th>
      <th>ID</th>
      <th>PREFIXO</th>
      <th>PLACA</th>
      <th>ODOMETRO</th>
      <th>TIPO COMBUSTÍVEL</th>
    </tr>
  </thead>
  <tbody align="center">
    <tr *ngFor="let viatura of viaturas">
      <td></td>
      <td>{{viatura.viaturaId}}</td>
      <td>{{viatura.prefixo}}</td>
      <td>{{viatura.placa}}</td>
      <td>{{viatura.odometro}}</td>
      <td>{{viatura.tipoCombustivel}}</td>
    </tr>
  </tbody>
  <tfoot *ngIf="!viaturas.length">
    <tr><td colspan="8" class="text-center">
      <h4>Nenhum dado encontrado!</h4>
    </td></tr>
  </tfoot>
</table>



<!--{{viatura.viaturaId}}< -->
