
<h1 align="center">Policiais</h1>

<hr>
<hr>
<!--
<form action="" class="form-inline" >
  <div class="row mb-2 col-12">
    <input type="text" class="form-control  mr-2 col-5" placeholder="Buscar">
    <button class="btn btn-outline-success col-2">Buscar</button>
  </div>
</form>
-->

<hr>
<table class="table table-striped" >
  <thead class="thead-dark" align="center">
    <tr>

      <th>ID</th>
      <th>POSTO/GRAD.</th>
      <th>NOME</th>
      <th>#</th>
    </tr>
  </thead>
  <tbody align="center">
    <tr *ngFor="let policial of policiais">

      <td>{{policial.id}}</td>
      <td>{{policial.postoGraduacao}}</td>
      <td>{{policial.nome}}</td>
      <td></td>
    </tr>
  </tbody>
   <tfoot *ngIf="!policiais.length">
    <tr>
      <td colspan="8" class="text-center">
        <h4>Nenhum dado encontrado!</h4>
      </td>
    </tr>
  </tfoot>
</table>
